{% extends "layouts/default.twig" %}

{% block header %}
    <div class="home-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-7 home-intro">
                    {% if cfp_open %}
                        <h3>Call For Papers Now Open!</h3>
                        <p>Submissions accepted until {{ site.enddate | date(site.date_format) }}</p>
                        <p>
                            <a href="{{ url('user_new') }}" class="btn btn-primary">Register Now</a>
                        </p>
                    {%  else %}
                        <h3>Call For Papers Closed!</h3>
                        <p>The Call for papers is closed. But you can still buy tickets!</p>
                        <p>
                            <a href="{{ site.eventurl }}/tickets" class="btn btn-primary">Register Now</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    {% include "_marketing.twig" %}
{% endblock %}
