{% extends "layouts/default.twig" %}

{% block header %}
    <div class="home-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-7 home-intro">
                        <h3>Magetitans 2020 is canceled!</h3>
                        <p>We are so sorry to share, but because of the Corona crisis we will postpone MageTitans 2020</p>
                        <p>If you have questions please drop us a message</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    {% include "_marketing.twig" %}
{% endblock %}
