{% extends "layouts/default.twig" %}
{% block content %}
    <div class="container-fluid mb-5">
        <div class="row">
            <div class="col-md-12 page-title" style="background-image: url('{{ site.venue_image_path }}');">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-md-12 h-100 d-flex justify-content-center flex-column">
                            <h1 class="text-center">Speaker Information</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-4">
        <div class="row">
            <div class="col-12">
                <p>
                    Every speaker gets full access to the conference and conference-related events. We don’t cover travel or
                    hotel by default, but we may be able to arrange something if you need it.
                </p>

                <h2>About the event</h2>
                <p>
                    Speakers will be provided with a projector, a wireless lapel microphone. Speakers should bring any equipment
                    they need to connect to projectors (HDMI). It is also suggested that you reduce your
                    dependency on the in-house internet connection as possible.
                </p>
                <p>
                    When the Call for Papers closes, the organizers will sort through the submissions, making
                    their selections. Speakers will be notified as soon as the selection process has been completed.
                </p>

                <h2>This year's package</h2>
                <p>
                    Our speaker package for this year's event includes:
                </p>
                <ul>
                    <li>Full conference pass</li>
                    <li>For speakers remote to the Area:</li>
                    <ul>
                        <li>We don’t cover travel or hotel by default, but we may be able to arrange something if you need it.</li>
                    </ul>
                    <li>Lunch, receptions and activities included in regular conference</li>
                    <li>We'll pick you up and drop you off to/from the airport so you don't have to worry about it.</li>
                </ul>
                <p>
                    International speakers are encouraged to <a href="/">submit their ideas</a>, but because of budget restrictions,
                    we can only accept a limited number of speakers from outside the country.
                </p>

                <h2>Tips for Submission</h2>
                <p>
                    We <i>strongly</i> encourage potential speakers to submit more than one submission on more than one topic. The
                    more submissions you contribute, the more options you give us to pick you. Be sure your talk title and abstract
                    define the exact topic you want to talk about and what you hope people will learn from the session. In previous
                    years, some submissions sounded interesting but we just didn't have enough detail for them to make the final cut.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
