{% extends "layouts/splash.twig" %}
{% block content %}
    <div class="opencfp-forgotpassword">
        <a class="logo mb-4" href="{{ url('homepage') }}">
            {% include '_logo.twig' %}
        </a>

        {% include "_flash.twig" %}

        <form id="forgot" class="form-horizontal" action="{{ url('forgot_password_create') }}" method="POST">
            {{ form_widget(form._token) }}

            <label class="text-white text-sm">Email</label>
            {{ form_widget(form.email, {'attr': {'class': '', 'placeholder': 'you@example.com'}}) }}

            <button type="submit" class="btn btn-primary w-100">Reset Password</button>
        </form>
    </div>
{% endblock %}
